* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #FFE4E6;
    width:100%;
    height:100%
}



p.txtHero {
    color: #5B193B;
}

h1.txtHero {
    color: #ef0a86;
}

a.btn {
    background-color: #ef0a86;
    color: #fff;
}

h2.favorites {
    font-family: "Kaushan Script", cursive;
    font-size: 2.5rem;
}

.sobre {
    text-align: center;
    width: 600px;
}

.card {
    background-color: #F3C5CB;
    padding: 0.8rem;
    border-radius: 20px;
}

.card h5 {
    font-family: "Kaushan Script", cursive;
}

.sectionCake {
    margin-left: 16rem;
}

.textLorem {
    width: 40rem;
    position: relative;
    top: 100%;
    left: 33%;
}

.footer {
    margin-top: 10rem;
    padding: 22px 16%;
    background: #fda4b3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.copyright p {
    font-size: 15px;
    font-weight: 400;
    color: var(--other-color);
}

/* Responsividade */
@media (max-width: 1200px) {
    .textLorem {
        width: 35rem;
        left: 25%;
    }

    .sectionCake {
        margin-left: 10rem;
    }
}

@media (max-width: 992px) {
    .textLorem {
        width: 30rem;
        left: 20%;
    }

    .sectionCake {
        margin-left: 5rem;
    }

    .sobre {
        width: 500px;
    }
}

@media (max-width: 768px) {
    .textLorem {
        width: 80%;
        left: 10%;
        top: 100%;
    }

    .sectionCake {
        margin-left: 0;
        text-align: center;
    }

    .sobre {
        width: 80%;
        margin: 0 auto;
    }

    .navbar {
        font-size: 18px;
    }

    .navbar-nav .nav-item {
        margin: 0 10px;
    }

    h2.favorites {
        font-size: 2rem;
    }

    .card {
        margin: 10px auto;
    }
}

@media (max-width: 576px) {
    .textLorem {
        width: 90%;
        left: 5%;
    }

    .sobre {
        width: 90%;
        margin: 0 auto;
    }

    .navbar {
        font-size: 16px;
    }

    .navbar-nav .nav-item {
        margin: 0 5px;
    }

    h2.favorites {
        font-size: 1.5rem;
    }

    .card {
        width: 100%;
        margin: 10px auto;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer .copyright p {
        margin-bottom: 10px;
    }
}

/* Estilos para a imagem do slide */
.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço do slide sem distorção */
    max-height: 600px; /* Altura máxima para evitar que a imagem seja muito alta */
}
